#* @vtlvariable name="projects" type="java.util.List<com.atlassian.jira.project.Project>" *#
#* @vtlvariable name="groups" type="java.util.List<com.atlassian.crowd.embedded.api.Group>" *#
#* @vtlvariable name="roles" type="java.util.List<com.atlassian.jira.security.roles.ProjectRole>" *#
#* @vtlvariable name="textutils" type="com.opensymphony.util.TextUtils" *#
<!DOCTYPE html>
<html>
<head>
    <title>JIRA Admin - Users</title>
    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="admin_users_menu/users_groups_section"/>
    <meta name="admin.active.tab" content="user_browser"/>
</head>
<body class="user-admin-plugin">
<div class="aui-group user-admin-toolbar">
    <div class="aui-item">
        <button aria-owns="projects-dropdown-multi-select" aria-haspopup="true" class="aui-button aui-dropdown2-trigger aui-button-primary">Project</button>
        <button aria-owns="roles-dropdown-multi-select" aria-haspopup="true" class="aui-button aui-dropdown2-trigger">Role</button>
        <button aria-owns="groups-dropdown-multi-select" aria-haspopup="true" class="aui-button aui-dropdown2-trigger">Group</button>

        <select id="projects-dropdown" multiple="multiple" class="hidden">
            #foreach($project in $projects)
                <option value="$textutils.htmlEncode($project.key)">$textutils.htmlEncode($project.name)</option>
            #end
        </select>

        <select id="groups-dropdown" multiple="multiple" class="hidden">
                #foreach($group in $groups)
                    <option value="$textutils.htmlEncode($group.name)">$textutils.htmlEncode($group.name)</option>
                #end
        </select>
        <select id="roles-dropdown" multiple="multiple" class="hidden">
                #foreach($role in $roles)
                    <option value="$textutils.htmlEncode($role.name)">$textutils.htmlEncode($role.name)</option>
                #end
        </select>

        <div class="text-query-container">
            <form>
                <input class="search-entry text ajs-dirty-warning-exempt" id="searcher-query" type="text" name="text" placeholder="Contains text">
                <input type="submit" class="text-submit">
            </form>
        </div>
    </div>
    <div class="aui-item">
        <a title="Create a new user in the system" id="create_user" class="aui-button" href="/jira/secure/admin/user/AddUser!default.jspa">
            <span class="icon icon-add16"></span>
            Create User
        </a>
    </div>
</div>
<div class="aui-group user-admin-container">

    <div id="useradmin-sidebar" class="aui-item user-admin-details-panel">

    </div><!-- .aui-page-panel-sidebar -->

</body>
</html>
